<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>get</title>
<link href="/css/style.css" rel="stylesheet">
</head>
<body class="get">
	<div id="wrap" class="get">
		<th:block th:replace="~{layout/header::header(${session.loginUser})}"></th:block>
		<table border="1" class="board_area">
			<tr>
				<th>제목</th>
				<td id="boardtitle">[[${board.boardtitle}]]</td>
			</tr>
			<tr>
				<th>작성자</th>
				<td id="userid">[[${board.userid}]]</td>
			</tr>
			<tr>
				<th>조회수</th>
				<td id="readcount">[[${board.readcount}]]</td>
			</tr>
			<tr>
				<th>내용</th>
				<td id="boardcontents">[[${board.boardcontents}]]</td>
			</tr>
			<th:block th:if="${files != null and files.size()>0 }" th:each="file:${files}">
				<!-- th:with - 일종의 변수 선언, 해당하는 블럭 내에서 sar 이라는 이름으로 대입한 것을 사용 가능(.으로 split한 배열) -->
				<th:block th:with="sar=${file.orgname.split('[.]')}">
					<tr>
						<th>첨부파일[[${fileStat.index+1}]]</th>
						<td>
							<a th:href="@{/file/download (systemname=${file.systemname}, orgname=${file.orgname})}">[[${file.orgname}]]</a>
						</td>
					</tr>
					<!-- sar 배열의 가장 마지막 방(파일의 확장자) -->
					<th:block th:with="ext=${sar[sar.length-1]}">
						<!-- 썸네일 제작 -->
						<tr th:if="${ext == 'jpeg' or ext == 'jpg' or ext == 'png' or ext == 'gif' or ext == 'webp' }">
							<th></th>
							<td>
								<img class="thumbnail" th:src="${'/file/thumbnail?systemname='+file.systemname}">
							</td>
						</tr>
					</th:block>
				</th:block>
			</th:block>
			<th:block th:unless="${files != null and files.size()>0 }">
				<tr class="no-file">
					<td colspan="2">첨부 파일이 없습니다.</td>
				</tr>
			</th:block>
		</table>
		<table class="btn_area">
			<tbody>
				<tr>
					<td>
						<th:block th:if="${board.userid == session.loginUser}">
							<a class="btn" th:href="${'/board/modify'+cri.listLink+'&boardnum='+board.boardnum}">수정</a>
							<a class="btn" th:href="${'/board/remove'+cri.listLink+'&boardnum='+board.boardnum}">삭제</a>
						</th:block>
						<a class="btn" th:href="${'/board/list'+cri.listLink}">목록</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="reply_line">
			<a href="#" class="btn regist">댓글 등록</a>
			<div class="replyForm row" style="display: none;">
				<div>
					<h4>작성자</h4>
					<input type="text" name="userid" th:value="${session.loginUser}" readonly>
				</div>
				<div>
					<h4>내 용</h4>
					<textarea id="replycontents" name="replycontents" placeholder="Contents"></textarea>
				</div>
				<div>
					<a href="#" class="btn finish">등록</a>
					<a href="#" class="btn cancel">취소</a>
				</div>
			</div>
			<ul class="replies"></ul>
			<div class="page"></div>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/reply.js"></script>
<script th:inline="javascript">
	window.setTimeout(function(){
		document.querySelector("#wrap>div:nth-child(1)").style.display="none";
	},1200)
	const updateForm = document.updateForm;
	const replyForm = $(".replyForm");
	let flag = false;
	let boardnum = /*[[${board.boardnum}]]*/'';
	let loginUser = /*[[${session.loginUser}]]*/'';
	const replies = $(".replies")
	const page = $(".page");
	let nowPage = 1;

	$(document).ready(function(){
		showList(1);
	})
		
	$(".regist").on("click",function(e){
		e.preventDefault();
		replyForm.show();
		$(this).hide();
		$("#replycontents").focus();
	})
	$(".finish").on("click",function(e){
		e.preventDefault();
		//댓글 등록 수행
		let replycontents = $("#replycontents").val();
		if(replycontents == ""){
			alert("댓글 내용을 입력하세요!");
			$("#replycontents").focus();
			return;
		}
		//백으로 요청
		replyService.insert(
			{"replycontents":replycontents,"boardnum":boardnum,"userid":loginUser},
			function(result){
				//DOM
				console.log(result);
				alert(`${result.replynum}번 댓글 등록 성공!`);
				showList(1);
			}
		)
		
		$("#replycontents").val("");
		$(".regist").show();
		replyForm.hide();
	})
	$(".cancel").on("click",function(e){
		e.preventDefault();
		//취소 수행
		$("#replycontents").val("");
		replyForm.hide();
		$(".regist").show();
	})
	
	function showList(pagenum){
		replyService.selectAll(
			{boardnum:boardnum, pagenum:pagenum||1},
			function(replyCnt, list){
				//LIST DOM
				let str = "";
				if(list == null || list.length == 0){
					//실제로 댓글이 하나도 없을 때
					if(pagenum == 1){
						str += `<li class="no-reply">등록된 댓글이 없습니다.</li>`;
						replies.html(str);
						return;
					}
					//삭제를 통해서 현재 페이지의 댓글이 모두 삭제됐을 때
					else{
						showList(pagenum-1);
						return;
					}
				}
				
				for(let i=0;i<list.length;i++){
					const reply = list[i];
					str += `<li class="li${reply.replynum} row">
	<div class="row">
		<strong class="userid${reply.userid}">${reply.userid}</strong>
		<p class="reply${reply.replynum}">
			${reply.replycontents}
		</p>
	</div>
	<div>
		<strong>${displayTime(reply)}</strong>
	</div>`;
					str += "<div>"
					if(reply.userid == loginUser){
						str += `<a href="${reply.replynum}" class="modify btn">수정</a>`
						str += `<a href="${reply.replynum}" class="mfinish btn" style="display:none;">수정 완료</a>`
						str += `<a href="${reply.replynum}" class="remove btn">삭제</a>`
					}
					str += "</div>"
					str += "</li>"
				}
				replies.html(str);
				
				//DOM으로 생성된 버튼들에 이벤트 달기
				$(".remove").on("click",deleteReply);
				$(".modify").on("click",modifyReply);
				$(".mfinish").on("click",modifyReplyOk);
				
				//댓글 페이징 DOM 구현
				showReplyPages(replyCnt, pagenum);
			}
		)
	}
	
	function deleteReply(e){
		e.preventDefault();
		let replynum = e.target.getAttribute("href");
		replyService.delete(
			replynum,
			function(result){
				alert(`${replynum}번 댓글 삭제 완료!`)
				showList(nowPage)
			},
			function(result){
				alert("댓글 삭제 실패!")
			}
		)
	}
	let replyFlag = false;
	function modifyReply(e){
		e.preventDefault();
		if(!replyFlag){
			replyFlag = true;
			let replynum = e.target.getAttribute("href");
			//수정해야 할 댓글의 <p> 태그 ex) <p>test</p>
			const replyTag = $(".reply"+replynum);
			//ex) <p><textarea class='1 mdf'>test</textarea></p>
			replyTag.html(`<textarea class='${replynum} mdf'>${replyTag.text().trim()}</textarea>`);
			$(this).hide();
			$(this).next().show();
			$("."+replynum).focus();
		}
		else{
			alert("수정중인 댓글이 있습니다!");
		}
	}
	function modifyReplyOk(e){
		e.preventDefault();
		replyFlag = false;
		
		let replynum = $(this).attr("href");
		let replycontents = $("."+replynum).val();
		
		if(replycontents == ""){
			alert("수정할 댓글 내용을 입력하세요!");
			$("."+replynum).focus();
			return;
		}
		replyService.update(
			{replynum:replynum, replycontents:replycontents, boardnum:boardnum, userid:loginUser},
			function(result){
				alert(`${replynum}번 댓글 수정 완료!`);
				showList(nowPage);
			}
		)
	}
	
	function showReplyPages(replyCnt, pagenum){
		let endPage = Math.ceil(pagenum/5)*5;
		let startPage = endPage - 4;
		endPage = (endPage-1)*5 >= replyCnt ? Math.ceil(replyCnt/5) : endPage;
		
		let prev = startPage != 1;
		let next = endPage*5 < replyCnt
		
		let str = "";
		if(prev){
			str += `<a class="changePage page-btn" href="${startPage-1}">&lt;<a>`
		}
		for(let i=startPage;i<=endPage;i++){
			if(i == pagenum){
				str += `<span class="nowPage">${i}</span>` 
			}
			else{
				str += `<a class="changePage page-btn" href="${i}">${i}</a>`
			}
		}
		if(next){
			str += `<a class="changePage page-btn" href="${endPage+1}">&gt;</a>`
		}
		
		page.html(str);
		
		$(".changePage").on("click",function(e){
			e.preventDefault();
			let target = $(this).attr("href");
			target = parseInt(target);
			nowPage = target;
			showList(target);
			window.setTimeout(function(){
				window.scrollTo(0,document.body.scrollHeight);
			},10)
		})
	}
	
	function displayTime(reply){
		const regdate = reply.regdate;
		const updatedate = reply.updatedate;
		
		const now = new Date();
		const check = regdate != updatedate;
		
		const dateObj = new Date(check ? updatedate : regdate);
		
		let gap = now.getTime() - dateObj.getTime();
		
		let str = "";
		if(gap < 1000*60*60*24){
			let hh = dateObj.getHours();
			let mi = dateObj.getMinutes();
			let ss = dateObj.getSeconds();
			
			str = (hh>9?'':'0')+hh+":"+(mi>9?'':'0')+mi+":"+(ss>9?'':'0')+ss;
		}
		else{
			let yy = dateObj.getFullYear();
			let mm = dateObj.getMonth()+1;
			let dd = dateObj.getDate();
			
			str = yy+"/"+(mm>9?'':'0')+mm+"/"+(dd>9?'':'0')+dd;
		}
		return (check ? "(수정됨) " : "")+str;
	}
</script>
</html>









